# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.pytest_cache/

# Environment
.env

# Data
data/raw/
*.csv

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# AWS
.aws/

# Docker
*.env.local
